* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
